<div class="wrap">
    <div class="content container-fluid">
        <div class="row-fluid">
            <div class="span10">
                <section class="widget">
                    <header>
                        <h4>
                            <i class="icon-file-alt"></i>
                            Tracks In Library
                        </h4>
                    </header>
                    <div class="body">
                        <blockquote>
                            Column sorting, live search, pagination. Built with
                            <a href="http://www.datatables.net/" target="_blank">jQuery DataTables</a>
                        </blockquote>
                        <table id="datatable-table" class="table table-striped" data-source="<%= library_tracks_url(format: "json") %>">
                            <thead>
                            <tr>
                                <th>Album Artist</th>
                                <th>Title</th>
                                <th>Featured Artist</th>
                                <th>Album</th>
                                <th>Genre</th>
                                <th>Year</th>
                                <th>Length</th>
                                <th>Size</th>
                                <th>BPM</th>
                                <th>Del</th>
                            </tr>
                            </thead>
                            
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

</body>