<div class="wrap">
  <div class="content container-fluid">
    <div class="row-fluid">
        <div class="span1">
            <section class="widget large">
                <a href="<%= link_to 'View Artists', artists_path %>">
                <header>
                    <h4>
                        Artists
                    </h4>
                </header>
                <div class="body">

                </div>
                </a>
            </section>
            <section class="widget large">
                <header>
                    <h4>
                        Mixes
                    </h4>
                </header>
                <div class="body">
                </div>
            </section>
        </div>
        <div class="span3">
            <section class="widget large">
                <header>
                    <h4>
                        Tracks
                    </h4>
                </header>
                <div class="body">
                </div>
            </section>
        </div>
        <div class="span1">
            <section class="widget body">
                <header>
                    <h4>
                        Cube1
                    </h4>
                </header>
                <div class="body">
                </div>
            </section>
        </div>
    </div>
  </div>

</div>