<%# binding.pry %>
// $(".tab-content").find(".active").removeClass('active')
// $(".tab-content").find("#Albums").addClass('active')
$("#Albums").html("<%= escape_javascript(render(:partial => 'albums')) %>");
  $('.btn-group-hover').hide()
  $('tr').on({
  mouseenter: function(){
    $(this)
      .find('.btn-group-hover').stop().fadeTo('fast',1)
      .find('.icon-white').addClass('icon-white-temp').removeClass('icon-white');
  },
  mouseleave: function(){
    $(this)
      .find('.btn-group-hover').stop().fadeTo('fast',0);
  }
});

  $('.btn-group-hover').on({
  mouseenter: function(){
    $(this).removeClass('btn-group-hover')
      .find('.icon-white-temp').addClass('icon-white');
  },
  mouseleave: function(){
    $(this).addClass('btn-group-hover')
      .find('.icon-white').addClass('icon-white-temp').removeClass('icon-white');
  }
});

  $('.btn').click(function() {
     var className = $(this).attr('class');
     _this = $(this);
     switch(className){
      case 'btn btn-mini icon-play':
      playing_track();
      break;
      case 'btn btn-mini icon-pause':
      paused_track();
      break
      case 'btn btn-mini icon-volume-up':
      volume_track();
      break
      case 'btn btn-mini icon-trash':
      delete_track();
      break
     }
     

     
  });

    function playing_track() {
      console.log('change to paused icon....');
      _this.removeClass('btn btn-mini icon-play');
      _this.addClass('btn btn-mini icon-pause');

       var playing = _this.parent();

       soundManager.createSound({
         id: 'mySound-' + playing.data("id"),
         url: playing.data("url"),
         autoLoad: true,
         autoPlay: false,
         onfinish: function() {
             paused_track();
           },
         onload: function() {
           // alert('The sound '+this.id+' loaded!');
         },
         whileplaying: function() {
           var track_time = $('#time').html();
           var seconds = Math.round(this.position/1000);
           var r = seconds % 60;
           var m = Math.floor(seconds / 60);
           var duration = (m < 10 ? '0' + m : m) + ":" + (r < 10 ? '0' + r : r);
           $(".progress").first().css('width', ((this.position/this.duration) * 100) + '%');
           // $('#time').html('<p>' + duration + '</p>');
           // $('#time').find('.duration').fadeTo('slow',2).html(" / " + duration)
           _this.closest('td').prev().prev().find('.duration').fadeTo('slow',2).html(" / " + duration)
         },
         volume: 50
       });
         soundManager.play('mySound-'+playing.data("id"));

    }

    function paused_track() {
      var currently_playing = _this.parent();
      console.log('change to playing icon....');
      _this.removeClass('btn btn-mini icon-pause');
      _this.addClass('btn btn-mini icon-play');
      soundManager.pause('mySound-'+currently_playing.data("id"));
    }

    function volume_track() {
      var currently_playing = _this.parent();
      console.log('clicked volume icon....');
    }

    function delete_track() {
      var currently_playing = _this.parent();
      console.log('clicked delete icon....');
    }
