<h1>My Library</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Image</th>
  </tr>
  <tr>
    <td><%= @library.name %></td>
    <td><%= @library.image %></td>
  </tr>

</table>

<br />

<%#= link_to 'New Library', new_library_path %>