<%#= javascript_include_tag "albums" %>
<div class="audio-player">
    <h1>Main Player</h1>
  <div class="audio-control prev_track"></div>
  <div class="audio-control play"></div>
  <div class="audio-control next_track"></div>
</div>