<!-- <div style="z-index: 1000">
  <div id="plspan" class="span5">
    <section class="playlist">
      <header>
        <h4>
          <i class="icon-list"></i>
          PlayList
        </h4>
        <div>
          <a id="slideleft" class="btn btn-mini icon-arrow-right pull-right"></a>
        </div>
      </header>
      <div class="slide">        
        <ul class="playlistSongs">

        </ul>
      </div>
      <div>
        <a class="btn btn-mini icon-save pull-bottom"></a>
      </div>
    </section>
  </div>
</div> -->

<!-- <div class="content container-fluid" > -->
  <!-- <div class="row-fluid"> -->
<div class="span2">
  <section id="plspan" class="widget large">
    <header>
      <h4>
        <i class="icon-list"></i>
        Playlist
      </h4>
      <div class="actions">
        <button id="slideright" class="btn btn-transparent btn-mini icon-arrow-right"></button>
      </div>
    </header>
    <div class="body">
      <div id="feed" class="feed">
        <div class="wrapper">
          <div class="vertical-line"></div>
          <section class="feed-item">
            <div class="text">
              <ul id="Playlist" class="playlistSongs">

              </ul>              
            </div>

          </section>
          
        </div>
      </div>
    </div>
        <footer>
        <div id="graphPixels">
          <div></div>
        </div> 
          <i class="icon-caret-right icon-large"></i>
            <span>
              <i class="icon-save icon-large"></i>
              <i class="icon-plus-sign-alt icon-large"></i>
              <i class="icon-share icon-large"></i>
              <i class="icon-trash  pull-right icon-large"></i>
              <i class="icon-remove-circle pull-right icon-large"></i>            
            </span>
          <div>
            <input type="text" id="normal-field" class="span2" placeholder="Save Playlist As..." >
          </div>
        </footer>
  </section>
</div>
<!-- </div> -->
<!-- </div> -->
