<!-- <div style="z-index: 1000">
  <div id="plspan" class="span5">
    <section class="playlist">
      <header>
        <h4>
          <i class="icon-list"></i>
          PlayList
        </h4>
        <div>
          <a id="slideleft" class="btn btn-mini icon-arrow-right pull-right"></a>
        </div>
      </header>
      <div class="slide">        
        <ul class="playlistSongs">

        </ul>
      </div>
      <div>
        <a class="btn btn-mini icon-save pull-bottom"></a>
      </div>
    </section>
  </div>
</div> -->

<!-- <div class="content container-fluid" > -->
  <!-- <div class="row-fluid"> -->
<!-- <div class="span2"> -->
  <section id="plspan" class="music_glass" >
<!--     <header>
      <h4>
        <i class="icon-list"></i>
        Playlist
      </h4>
      <div class="actions">
        <button id="slideright" class="btn btn-transparent btn-mini icon-arrow-right"></button>
      </div>
    </header> -->
      <div id="playerTop">
        <div id="trackArt"></div>
        <div id="trackArtist">Artist Name</div>
        <div id="trackTitle">Track Title</div>
        
      </div>
      <div id="seekDiv">
        <span id="trackProgress">00:00</span>
        <div id="mainProgress">
          <div class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min" style="width: 0%;"></div>
          <a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 0%;"></a>
        </div>
        <span id="trackDuration">03:00</span>
      </div>
      <div id="playerControls">
        <div id="trackRepeat"></div>
        <div id="trackShuffle"></div>
        <div id="prevTrack"></div>
        <div id="playTrack" class="play_pause playTrack"></div>
        <div id="nextTrack"></div>
        
        <div id="volumeSlider">
          <span class="volumeTooltip"></span>
        </div>
        <span class="volumeIcon"></span>    
      </div>
    <!-- *************************************************************** -->
<!--     <div class="body">
      <div id="feed" class="feed">
        <div class="wrapper">
          <div class="vertical-line"></div>
          <section class="feed-item">
            <div class="text">
              <ul id="Playlist" class="playlistSongs">
                <li class="pl_tracks "><span class="icon-caret-right ">&nbsp;</span> Test track</li>

              </ul>              
            </div>

          </section>
          
        </div>
      </div>
    </div> -->
        <div style="position:relative">
<!--         <div id="graphPixels">
          <div></div>
        </div>  -->
          <!-- <i id="plOptions" class="icon-caret-right icon-large"></i> -->
            <span class="plControl" style="position:absolute">
              <i class="icon-save icon-large"></i>
              <i class="icon-plus-sign-alt icon-large"></i>
              <i class="icon-share icon-large"></i>
              <i class="icon-trash  pull-right icon-large"></i>
              <i class="icon-remove-circle pull-right icon-large"></i>            
            </span>
<!--             <div class="plSave">
                <input type="text" id="normal-field" class="span2" placeholder="Save Playlist As...">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-success"><i class="fa fa-refresh"></i></button>
                </div>
            </div> -->

<!--             <div class="form-group">
                <label for="bar">Whole bar appended</label>

                <div class="input-group">
                    <input type="text" class="span2" >
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-success"><i class="fa fa-refresh"></i></button>
                    </div>
                </div>

            </div> -->
<!--             <span class="plSave" >
              <input type="text" id="normal-field" class="span2" placeholder="Save Playlist As..." ><i class="icon-check"></i>
            </span> -->
<!--           <div>
            <input type="text" id="normal-field" class="span2" placeholder="Save Playlist As..." >
          </div> -->
        </div>
  </section>
<!-- </div> -->
<!-- </div> -->
<!-- </div> -->
