  <div class="audio-player">
      <h1>Main Player</h1>
    <img class="audio-control prev_track" src="/assets/audio-prev.png">
    <img class="audio-control play" src="/assets/audio-play.png">
    <img class="audio-control next_track" src="/assets/audio-next.png">
  </div>