<%#= javascript_include_tag "albums" %>

<div class="audio-player">
  <!-- <section > -->
    <header>
      <h4>
        <!-- <i class="icon-list"></i> -->
        Main Player
      </h4>
    </header>
    <div class="body">
      <div class="audio-control prev_track"></div>
      <div class="audio-control play"></div>
      <div class="audio-control next_track"></div>
    </div>

  <!-- </section> -->
</div>