<div style="z-index: 1000">
  <div id="plspan" class="span5">
    <section class="playlist">
      <header>
        <h4>Playlist</h4>
      </header>

      <div id="slideleft" class="slide">
        <button>slide it</button>
      <div class="body">
      </div>
    </section>
  </div>
</div>
