<div class="wrap">
  <div class="content container-fluid">
    <div class="row-fluid">
        <div class="span10">
            <h2 class="page-title" style="position: relative; z-index: 3">Albums <small>Albums In Your Library</small></h2>
        </div>
    </div>
    <div class="row-fluid">
      <div class="span10">
        <section class="widget">
          <header>
              <h4>
                  <i class="icon-music"></i>
                  Albums
                  <small>In Your Library</small>
              </h4>
          </header>
          <div class="body">
              <ul class="thumbnails">
                  <%= render :partial => 'artists/artist' %>
              </ul>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>

