<div class="wrap">
    
    <div class="content container-fluid">
        <div class="row-fluid">
            <div class="span2">
                <!-- <section class="widget large"> -->
                    <!-- <div class="body"> -->
                        <!-- <div id="sources-chart-pie" class="chart pie-chart"> -->
                            <!-- <ul class="thumbnails"> -->
                              <!-- <li class="span4"> -->
                                <div class="thumbnail">
                                  <img src="img/11.jpg" alt="">
                                 </div>
                              <!-- </li> -->
                            <!-- </ul> -->
                        <!-- </div> -->
                    <!-- </div> -->
                <!-- </section> -->
            </div>
            <div class="span9 half-width-responsive">
                <section class="widget large">
                    <header>
                        <h4><i class="icon-bar-chart"></i> Bar Chart <small class="hidden-phone">Refresh page to see different data</small></h4>
                    </header>
                    <div id="sources-chart-bar" class="body chart">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>First Name</th>
                                <th class="hidden-phone-portrait">Last Name</th>
                                <th>Email</th>
                                <th class="hidden-phone-portrait">Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1</td>
                                <td>Mark</td>
                                <td class="hidden-phone-portrait">Otto</td>
                                <td><a href="#">ottoto@example.com</a></td>
                                <td class="hidden-phone-portrait"><span class="badge badge-important">Pending</span></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Jacob</td>
                                <td class="hidden-phone-portrait">Thornton</td>
                                <td><a href="#">fat.thor@example.com</a></td>
                                <td class="hidden-phone-portrait"><span class="badge badge-warning">Unconfirmed</span></td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Larry</td>
                                <td class="hidden-phone-portrait">the Bird</td>
                                <td><a href="#">larry@example.com</a></td>
                                <td class="hidden-phone-portrait"><span class="badge badge-success">New</span></td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Peter</td>
                                <td class="hidden-phone-portrait">Horadnia</td>
                                <td><a href="#">peter@example.com</a></td>
                                <td class="hidden-phone-portrait"><span class="badge badge-info">Active</span></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
