// Place all the styles related to the albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#album_options {
  position: absolute;
  display: block;
  z-index: 100;
  margin-left: 165px;
  margin-top: -20px;
}

.slider{
  border-width: 1px;
  border-style: solid;
  border-color: #333 #333 #777 #333;
  border-radius: 25px;
  width: 100px;
  position: relative;
  height: 4px;
  background-color: #8e8d8d;
  background: url('/assets/volume-empty.png') repeat top left;
    box-shadow: inset 0 1px 5px 0px rgba(0, 0, 0, .5), 
              0 1px 0 0px rgba(250, 250, 250, .5);
  top: 10px;
}
// .tooltip {
//   position: absolute;
//   display: block;
//   // top: -10px;
//   width: 35px;
//   height: 20px;
//   color: #fff;
//   text-align: center;
//   font: 10pt Tahoma, Arial, sans-serif ;
//   border-radius: 3px;
//   border: 1px solid #333;
//     -webkit-box-shadow:  1px 1px 2px 0px rgba(0, 0, 0, .3);
//     box-shadow:  1px 1px 2px 0px rgba(0, 0, 0, .3);
//   -moz-box-sizing: border-box;
//   -webkit-box-sizing: border-box;
//   box-sizing: border-box;
//   background: -moz-linear-gradient(top,  rgba(69,72,77,0.5) 0%, rgba(0,0,0,0.5) 100%); /* FF3.6+ */
//   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,0.5)), color-stop(100%,rgba(0,0,0,0.5))); /* Chrome,Safari4+ */
//   background: -webkit-linear-gradient(top,  rgba(69,72,77,0.5) 0%,rgba(0,0,0,0.5) 100%); /* Chrome10+,Safari5.1+ */
//   background: -o-linear-gradient(top,  rgba(69,72,77,0.5) 0%,rgba(0,0,0,0.5) 100%); /* Opera 11.10+ */
//   background: -ms-linear-gradient(top,  rgba(69,72,77,0.5) 0%,rgba(0,0,0,0.5) 100%); /* IE10+ */
//   background: linear-gradient(top,  rgba(69,72,77,0.5) 0%,rgba(0,0,0,0.5) 100%); /* W3C */
//   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8045484d', endColorstr='#80000000',GradientType=0 ); /* IE6-9 */
// }
.star {
  margin-left: 20px;
}
.volume {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  right: 0px;
  background: url('/assets/volume.png') no-repeat 0 -50px;
  position: relative;
  top: -6px;
  left: 106px;
}
.ui-slider-handle {
  position: absolute;
  z-index: 20;
  width: 25px;
  height: 25px;
  cursor: pointer;
  background: url('/assets/volume-knob.png') no-repeat 50% 50%;
  font-weight: bold;
  color: #1C94C4;
  outline: none;
  top: -8px;
  margin-left: -12px;
}
.ui-slider-range {
    // height:5px;
    // width: 300px;
    position: absolute;
    background: url('/assets/volume-full.png') no-repeat left top;
  // background: #ffffff; /* Old browsers */
  // background: -moz-linear-gradient(top,  #ffffff 0%, #eaeaea 100%); /* FF3.6+ */
  // background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#eaeaea)); /* Chrome,Safari4+ */
  // background: -webkit-linear-gradient(top,  #ffffff 0%,#eaeaea 100%); /* Chrome10+,Safari5.1+ */
  // background: -o-linear-gradient(top,  #ffffff 0%,#eaeaea 100%); /* Opera 11.10+ */
  // background: -ms-linear-gradient(top,  #ffffff 0%,#eaeaea 100%); /* IE10+ */
  // background: linear-gradient(top,  #ffffff 0%,#eaeaea 100%); /* W3C */
  // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 ); /* IE6-9 */
  // position: absolute;
  border: 0;
  top: 0;
  height: 100%;
  border-radius: 25px;
  margin-left: -2px;
}
/*volume slider code end*/

// #cur_pl_tr {
//   border-radius: 100px;
// }

.slide {
  position: relative;
}
.slide .inner {
  position: absolute;
  left: 0;
  bottom: 0;
}




.glass {
  position: absolute;
  // border-bottom: 1px solid;
  // border-bottom-color: #ccc;
  // border-bottom-color: rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  // background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20version%3D%221.1%22%20width%3D%221600%22%20height%3D%221066%22%3E%3Cdefs%3E%3Cfilter%20id%3D%22blur%22%3E%3CfeGaussianBlur%20stdDeviation%3D%225%22%2F%3E%3C%2Ffilter%3E%3C%2Fdefs%3E%3Cimage%20xlink%3Ahref%3D%22http%3A%2F%2Funformedbuilding.com%2Fdemo%2F2013%2Ffrosted-glass-effect%2Fbg.jpg%22%20width%3D%221600%22%20height%3D%221066%22%20filter%3D%22url%28%23blur%29%22%2F%3E%3C%2Fsvg%3E"), url("bg.jpg");
  z-index: 1000;
  height: 20px;
  width: 100%;
  bottom: 0px;
  left: 0px;
  filter: blur(4px);
}

// .glass::before {
//   position: absolute;
//   top: 0;
//   left: 0;
//   z-index: -1;
//   width: 100%;
//   height: 100%;
//   background-position: center bottom;
//   background-attachment: fixed;
//   background-size: cover;
//   content: "";
//   filter: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%3E%3Cdefs%3E%3Cfilter%20id%3D%22blur%22%3E%3CfeGaussianBlur%20stdDeviation%3D%225%22%2F%3E%3C%2Ffilter%3E%3C%2Fdefs%3E%3C%2Fsvg%3E#blur");
//   -webkit-filter: blur(5px);
//   filter: blur(5px);
// }

.glass .legacy-ie-fix {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=20)";
}

.glass h1 {
  position: relative;
  margin: 0;
  color: #fff;
  color: rgba(255, 255, 255, 0.3);
  font-size: 200px;
  font-weight: normal;
  font-family: "Megrim", sans-serif;
  line-height: 1.2;
  text-align: center;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=50)";
}
#glass_wrapper {
  position: relative;
}

