// Place all the styles related to the Artists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.image-container {
    width: 200px;
    height: 200px;
    background-size: cover;
    background-image:"http://i.stack.imgur.com/2OrtT.jpg";
    background-repeat: no-repeat;
    background-position: 50% 50%;
    float:left;
}