// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Viewport */
#viewport{
    -webkit-filter: grayscale(1);
    opacity: .5;
    right: 0px;
    left: 0px;
    bottom: 0px;
    top: 0px;
    position:absolute;
    overflow:hidden;
    margin:0 auto;
    background:#212121;
}
/* Wall */
#wall{
    z-index:1;
}
    /* Tile Wall create */
    #wall .tile{
        color:#FFFFFF;
        text-align:center;
        line-height:180px;
    }
